@{
    ViewData["Title"] = "Stwórz Newsletter";
}

<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<div class="text-center">
    <h2>Stwórz Newsletter</h2>
</div>

<form method="post" action="/Admin/CreateNewsletter">
    <div class="mb-3">
        <label for="title" class="form-label">Tytuł:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Podaj tytuł wiadomości" />
    </div>

    <div class="mb-3">
        <label for="content" class="form-label">Treść wiadomości:</label>
        <textarea class="form-control" id="content" name="content" style="width: 100%; height: 300px;"></textarea>
        <small class="form-text text-muted">
            Możesz użyć następujących zmiennych w treści maila:
            <ul>
                <li><code>{{Email}}</code> – adres email użytkownika</li>
            </ul>
        </small>
    </div>

    @* <div> *@
    @*     <label for="imageUrl">Obrazek:</label> *@
    @*     <input type="file" class="form-control" id="imageUrl" name="imageUrl" /> *@
    @* </div> *@

    <button type="submit" class="btn btn-primary">Stwórz</button>
</form>

<script src="~/js/load-tinymce.js" referrerpolicy="origin"></script>