@model IEnumerable<NewsletterWebApp.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Stwórz Newsletter";
}

<div class="text-center">
    <h2>Stwórz Newsletter</h2>
</div>

<form method="post" action="/Admin/CreateNewsletter">
    <div>
        <textarea class="form-control" id="content" style="width: 100%"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Stwórz</button>
</form>