@model NewsletterWebApp.ViewModels.MailingListViewModel

@{
    ViewData["Title"] = "Edytuj Listę Mailingową";
}

<div class="text-center">
    <h2>Edytuj Listę Mailingową</h2>
</div>

<form method="post" action="/Admin/EditMailingList">
    <input type="hidden" id="id" name="id" value="@Model.Id" />

    <div class="mb-3">
        <label for="title" class="form-label">Nazwa:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Podaj nazwę listy" value="@Model.Name" />
    </div>

    <button type="submit" class="btn btn-primary">Edytuj</button>
</form>

<script src="~/js/load-tinymce.js" referrerpolicy="origin"></script>