@model IEnumerable<NewsletterWebApp.ViewModels.NewsletterViewModel>

@{
    ViewData["Title"] = "Lista Newsletterów";
    var counter = 1;
}

<div class="text-center">
    <h2>Lista Newsletterów</h2>
</div>

<div class="container mt-4 p-3" style="background-color: #f8f9fa; border: 1px solid #ddd; border-radius: 5px; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); width: 50%;">
    @foreach (var newsletter in Model)
    {
        <div class="d-flex align-items-center mb-2">
            <span class="me-2 fw-bold">@counter.</span>
            <span class="me-2">@newsletter.Title</span>
            <span class="me-2"><a href="EditNewsletter/@newsletter.Id" onclick="alert('w budowie'); return false">Edytuj</a></span>
            <span class="me-2"><a href="DeleteNewsletter/@newsletter.Id" onclick="alert('w budowie'); return false">Usuń</a></span>
            <span class="me-2"><a href="SendEmail/@newsletter.Id" onclick="alert('w budowie'); return false">Wyślij</a></span>
        </div>

        @if (counter < Model.Count())
        {
            <hr style="border: none; height: 1px; background-color: rgba(0, 0, 0, 0.4);">
        }

        counter++;
    }
</div>