@model IEnumerable<NewsletterWebApp.ViewModels.NewsletterViewModel>

@{
    ViewData["Title"] = "Lista Newsletterów";
    var counter = 1;
}

<div class="text-center">
    <h2>Lista Newsletterów</h2>
</div>

<div class="container mt-4 p-3" style="background-color: #f8f9fa; border: 1px solid #ddd; border-radius: 5px; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); width: 50%;">
    @foreach (var newsletter in Model)
    {
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div>
                <span class="me-2 fw-bold">@counter.</span>
                <span>@newsletter.Title</span>
            </div>
            <div>
                <a href="EditNewsletter/@newsletter.Id" class="btn btn-primary btn-sm me-2">Edytuj</a>
                <a href="DeleteNewsletter/@newsletter.Id" class="btn btn-danger btn-sm me-2">Usuń</a>
                <a href="SendEmail/@newsletter.Id" class="btn btn-success btn-sm">Wyślij</a>
            </div>
        </div>

        @if (counter < Model.Count())
        {
            <hr style="border: none; height: 1px; background-color: rgba(0, 0, 0, 0.4);">
        }

        counter++;
    }
</div>
