@model NewsletterWebApp.ViewModels.EmailViewModel

@{
    ViewData["Title"] = "Wyślij Maila";
}

<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<div class="text-center">
    <h2>Wyślij Maila</h2>
</div>

<form method="post" action="/Admin/SendEmail">
    <div class="mb-3">
        <label for="title" class="form-label">Tytuł:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Podaj tytuł wiadomości" value="@Model.Title" />
    </div>

    <div class="mb-3">
        <label for="content" class="form-label">Treść wiadomości:</label>
        <textarea class="form-control" id="content" name="content" style="width: 100%; height: 300px;">@Model.Content</textarea>
        <small class="form-text text-muted">
            Możesz użyć następujących zmiennych w treści maila:
            <ul>
                <li><code>{{Email}}</code> – adres email użytkownika</li>
            </ul>
        </small>
    </div>

    <button type="submit" class="btn btn-primary">Wyślij</button>

    <div class="mb-3">
        <label for="scheduledAt" class="form-label">Zaplanowany czas wysyłki (opcjonalne):</label>
        <input type="datetime-local" class="form-control" id="scheduledAt" name="scheduledAt" />
    </div>
</form>

<script src="~/js/load-tinymce.js" referrerpolicy="origin"></script>