@{
    ViewData["Title"] = "Wyślij Maila";
}

<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<div class="text-center">
    <h2>Wyślij Maila</h2>
</div>

<form method="post" action="/Admin/SendEmail">
    <div>
        <label for="title">Tytuł:</label>
        <input type="text" class="form-control" id="title" name="title" />
    </div>
    <div>
        <textarea class="form-control" id="content" name="content" style="width: 100%"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" onclick="alert('w budowie'); return false">Wyślij</button>
</form>

<script>
    tinymce.init({
        selector: 'textarea',
    });
</script>