@model IEnumerable<NewsletterWebApp.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Lista Subskrybentów";
    var counter = 1;
}

<div class="text-center">
    <h2>Lista Subskrybentów</h2>
</div>

<div class="container mt-4 p-3" style="background-color: #f8f9fa; border: 1px solid #ddd; border-radius: 5px; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); width: 50%;">
    @foreach (var user in Model)
    {
        <div class="d-flex align-items-center mb-2">
            <span class="me-2 fw-bold">@counter.</span> 
            <span>@user.Email</span> 
        </div>

        @if (counter < Model.Count())
        {
            <hr style="border: none; height: 1px; background-color: rgba(0, 0, 0, 0.4);"> 
        }

        counter++;
    }
</div>