<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MailCraft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/NewsletterWebApp.styles.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="~/logo.ico" />

</head>
<body>
<header>
    <nav class="custom-navbar navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/logo.ico")" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
                MailCraft
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Główna</a>
                    </li>

                    @if (Context.Session.GetInt32("UserId") != null)
                    {
                        if (Context.Session.GetString("IsAdmin") == "true")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SubscribersList">Lista Subskrybentów</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SendEmail">Wyślij Maila</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SentEmails">Wysłane Maile</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="PlannedEmails">Zaplanowane Maile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="NewslettersList">Lista Newsletterów</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CreateNewsletter">Stwórz Newsletter</a>
                            </li>
                        }
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (Context.Session.GetInt32("UserId") != null)
                    {
                        <li class="nav-item">
                            <form method="post" action="/Account/Logout" class="d-inline">
                                <button class="btn btn-link nav-link text-dark" type="submit">Wyloguj</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer style="position: fixed; bottom: 0; left: 0; width: 100%; margin: 0; padding: 0; z-index: -1;">
    <img src="~/footer1.gif" alt="Footer" style="display: block; max-width: 100%; height: auto; z-index: -1;" />
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
