@model IEnumerable<NewsletterWebApp.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>

    @if (ViewBag.Email != null)
    {
        <p class="lead">Twój e-mail: <strong>@ViewBag.Email</strong></p>

        @if ((bool)ViewBag.IsAdmin == false) // Tylko dla użytkowników, którzy nie są adminami
        {
            @if ((bool)ViewBag.IsSubscribed == true)
            {
                <form method="post" asp-action="UnsubscribeFromNewsletter">
                    <button type="submit" class="btn btn-danger btn-lg">Wypisz się z newslettera</button>
                </form>
            }
            else
            {
                <form method="post" asp-action="SubscribeToNewsletter">
                    <button type="submit" class="btn btn-success btn-lg">Zapisz się do newslettera</button>
                </form>
            }
        }
    }
    else
    {
        <p class="lead">Jesteś niezalogowany. Zaloguj się, aby zobaczyć więcej funkcji.</p>
    }
</div>