@model IEnumerable<NewsletterWebApp.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>

    @if (ViewBag.Email != null)
    {
        <p class="lead">Twój e-mail: <strong>@ViewBag.Email</strong></p>
    }
    else
    {
        <p class="lead">Jesteś niezalogowany. Zaloguj się, aby zobaczyć więcej funkcji.</p>
    }
</div>
